.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Prevent scrollbars on the main container */
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  position: relative;
}

.loginbg {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
